<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <tite>Order</tite>
</head>

<body>
    <table>

        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Order Code</th>
            </tr>
        </thead>

        <tbody>
            {% for item in order.get_order_items %}
            <tr>
                <td>{{ item.product.product_name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.product.get_unit_display }}</td>
                <td>{{ item.product.order_code|default_if_none:"&nbsp;" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>

<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>